//fonts variables and colors
$global-font-family: arial, sans-serif;
$pre-font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$pre-font-size: 87.5%;
$pre-text-color: #212529;
$global-font-size: 14px;
$global-secondary-heading-font-size: 20px;
$global-secondary-heading-color: #d93025;
$global-text-color: rgba(0,0,0,0.87);
$global-logo-image: "https://www.google.com.co/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png";

//extended style
%global_text_style {
    font-family: $global-font-family;
    font-size: $global-font-size;
    font-weight: normal;
    color: $global-text-color;
}

//styles
body {
    @extend %global_text_style;
}
.pre {
    font-family: $pre-font-family;
    font-size: $pre-font-size;
    color: $pre-text-color;
}
.section-page, .row-section {
    padding-top: 15px;
    padding-bottom: 15px;
}
.search-actions input[type="submit"] {
    margin-left: 5px;
    margin-right: 5px;
}
.logo-block {
    display: block;
    background: url($global-logo-image) no-repeat center;
    background-size: contain;
}
.secondary-heading {
    color: $global-secondary-heading-color;
    font-size: $global-secondary-heading-font-size;
}

// image search page
.image-search-page .logo-block {
    height: 100px;
    max-width: 272px;
    margin: 0px auto;
    position: relative;
}
.image-search-page .logo-block span {
    color: #4285f4;
    right: 0px;
    position: absolute;
    bottom: 0px;
    white-space: nowrap;
}

// advanced search page
.advanced-search-page .header-section {
    background: #f1f1f1;
}
.advanced-search-page .logo-block {
    height: 40px;
    max-width: 150px;
    position: relative;
}
.advanced-search-page .main {
    padding-top: 50px;
    padding-bottom: 50px;
}
.advanced-search-page .main .section-page {
    padding-right:  50px;
    padding-left:  50px;
}
.advanced-search-page .main .title-bar {
    padding-right:  50px;
    padding-left:  50px;
    border-bottom: 1px solid #ebebeb;
}
.advanced-search-page .main .content {
    margin-top:  50px;
}
.advanced-search-page form .field-desciption {
    font-size: 11px;
    color: #555;
}
.advanced-search-page form .field-label {
    font-size: 13px;
}

